.services-section {
	position: relative;
	z-index: 1;
}

.single-services-box {
	position: relative;
	z-index: 1;
	text-align: center;
	border-radius: 5px;
	background-color: #ffffff;
	margin-bottom: 30px;
	overflow: hidden;
	-webkit-box-shadow: -1px 3px 20px 0px rgba(82, 90, 101, 0.1);
	-moz-box-shadow: -1px 3px 20px 0px rgba(82, 90, 101, 0.1);
	box-shadow: -1px 3px 20px 0px rgba(82, 90, 101, 0.1);
    -webkit-transition: all 400ms ease-out;
    transition: all 400ms ease-out;
    will-change: transform;
}
.single-services-box:before {
	position: absolute;
	content: "";
	left: 0;
	right: 0;
	bottom: 0;
	min-width: 100%;
	border-bottom: 3px solid #1dc2cf;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
	transform: scaleX(0);
    -webkit-transition: all 400ms ease-out;
    transition: all 400ms ease-out;
    will-change: transform;
}
.single-services-box:hover:before {
  transform: scaleX(1);
}

.single-services-box .services-img img {
    display: block;
    width: 100%;
}
.single-services-box .services-info {
    padding: 30px 20px;
}

.single-services-box .services-info h3 {
	font-size: 20px;
	margin-bottom: 0;
    -webkit-transition: all 400ms ease-out;
    transition: all 400ms ease-out;
    will-change: transform;
}

.single-services-box .services-info h3 a {
  display: inline-block;
}

.single-services-box .services-info p {
	font-size: 15px;
	margin-top: 12px;
	margin-bottom: 0;
    -webkit-transition: all 400ms ease-out;
    transition: all 400ms ease-out;
    will-change: transform;
}

.single-services-box .services-info .services-btn-box {
  margin-top: 15px;
}

.single-services-box .services-info .services-btn-box .services-btn-link {
    display: inline-block;
    font-size: 15px;
    color: #333;
    font-weight: 700;
    -webkit-transition: all 400ms ease-out;
    transition: all 400ms ease-out;
    will-change: transform;
}

.single-services-box .services-btn-box a i {
    color: #ffffff;
    font-size: 14px;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: #1dc2cf;
    margin-right: 5px;
    border-radius: 30px;
    -webkit-transition: all 400ms ease-out;
    transition: all 400ms ease-out;
}

.single-services-box:hover {
	-webkit-transform: translateY(-5px);
	transform: translateY(-5px);
}

.single-services-box:hover h3 {
	color: #333;
}

.single-services-box:hover h3 a {
	color: #333;
}

.single-services-box:hover p {
	color: #333;
}

.single-services-box:hover .services-btn-box .services-btn-link {
	color: #1dc2cf;
}

.single-services-box:hover .services-btn-box i {
	color: #fff;
	background-color: #0c345a;
}
.services-more-btn-box {
    margin-top: 15px;
}

/**************************************
 ** - 08 - Services Two Section CSS
 **************************************/
.services-design-two .section-title {
	margin-bottom: 35px;
}

.single-services-two {
	position: relative;
	z-index: 1;
	display: block;
	padding: 35px 30px;
	text-align: left;
	border-radius: 5px;
	background-color: #ffffff;
	margin-top: 30px;
	overflow: hidden;
	-webkit-box-shadow: 0px 2px 25px 0px rgb(110, 110, 110, 0.12);
    -moz-box-shadow: 0px 2px 25px 0px rgb(110, 110, 110, 0.12);
    box-shadow: 0px 2px 25px 0px rgb(110, 110, 110, 0.12);
    -webkit-transition: all 500ms ease-out;
    transition: all 500ms ease-out;
}

.single-services-two::before {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    width: 0;
    height: 3px;
    background: #1dc2cf;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}

.single-services-two:hover::before {
    width: 100%;
    left: 0;
    right: auto;
}

.single-services-two .services-icon {
	position: relative;
	z-index: 1;
	color: #1dc2cf;
	width: 55px;
	height: 55px;
	margin-bottom: 25px;
	-webkit-transition: 0.5s;
	transition: 0.5s;
}
.single-services-two .services-icon::after {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #f7f7f7;
}
.single-services-two .services-icon i {
	font-size: 45px;
	margin-left: 20px;
}

.single-services-two h3 {
	font-size: 18px;
    font-weight: 700;
	margin-bottom: 0;
    -webkit-transition: all 400ms ease-out;
    transition: all 400ms ease-out;
}

.single-services-two h3 a {
	display: inline-block;
}

.single-services-two p {
	font-size: 15px;
	margin-top: 15px;
	margin-bottom: 0;
    -webkit-transition: all 400ms ease-out;
    transition: all 400ms ease-out;
    will-change: transform;
}

.single-services-two .services-btn {
    margin-top: 15px;
}
.single-services-two .services-btn .link-btn {
    color: #1dc2cf;
    font-size: 16px;
	font-weight: 600;
    padding: 0;
    background: none;
    border: 0;
    border-radius: 0;
    margin: 0;
}