.headingAppointment {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 0.75rem;
  width: 80%;
  height: 4rem;
  margin: 0.75rem;
  padding: 20px;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.createInsuranceRecord {
  margin-left: 0.75em;
  width: 80%;
}

.headingAppointment p {
  margin: 0;
  font-size: 30px;
}

.appointmentForm {
  display: flex;
  /* align-items: center; */
  /* justify-content: center; */
  background-color: #fff;
  border-radius: 0.75rem;
  width: 45%;
  margin: 0.75rem;
  margin-left: 19%;
  /* height: 40rem; */
  padding: 30px;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.form-group label {
  padding: 10px 0;
  font-size: 18px;
}

.form-group input {
  display: flex;
  width: 580px;
  font-size: 16px;
}

.bookButton {
  margin-top: 20px;
  border: none;
  position: relative;
  display: inline-block;
  text-align: center;
  overflow: hidden;
  z-index: 1;
  color: #ffffff;
  background-color: #1dc2cf;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50px;
  font-weight: 600;
  font-size: 15px;
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 14px;
  padding-bottom: 14px;
}